* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2c2f33;
  height: 100%;
}
body::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(56, 56, 56);
  border-radius: 6px; /* roundness of the scroll thumb */
}

body::-webkit-scrollbar-track {
  background: black; /* color of the tracking area */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
